apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-server
  labels:
    app: server
spec:
  replicas: NUM_REPLICAS
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server
        image: CI_REGISTRY/DOCKER_REGISTRY_U/CI_PROJECT_NAME/server:CI_COMMIT_SHORT_SHA
        imagePullPolicy: Always
        ports:
        - name: http
          protocol: TCP
          containerPort: 5000
      restartPolicy: Always